@model Computer_Reparatieshop.Models.Klant

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijder</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Klanten</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Middlename)
            </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Lastname)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phonenumber)*@
            Telefoon nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Adress)*@
            Adress
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.City)*@
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Opdrachten
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Reparatieopdrachtens.Count)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            verijderd ook de bijbehorende opdrachten <br />
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar lijst", "Index")
        </div>
    }
</div>
