@model Computer_Reparatieshop.Models.Klant

@{
    ViewBag.Title = "Details";
}

<h2>Details voor</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Fullname)</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middlename)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Lastname)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phonenumber)*@
            Telefoonnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Adress)*@
            Adress
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.City)*@
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            opdrachten
        </dt>


        @foreach (var item in Model.Reparatieopdrachtens)
        {
            <dd>
                @Html.ActionLink(item.Name,  "Details", "ReparatieOpdrachten", new { id = item.Id }, null) 
                @*@Html.DisplayFor(model => item.Name)*@
            </dd>
        }

        </dl>
</div>
<p>
    @Html.ActionLink("Pas Aan", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
