@model Computer_Reparatieshop.Models.Klant

@{
    ViewBag.Title = "Details";
}

<h2>Details voor</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Fullname)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            Telefoonnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Opdrachten
        </dt>


        @foreach (var item in Model.Reparatieopdrachtens)
        {
            <dd>
                @Html.ActionLink(item.Name,  "Details", "ReparatieOpdrachten", new { id = item.Id }, null) 
            </dd>
        }

        </dl>
</div>
<p>
    @Html.ActionLink("Pas Aan", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
