@model IEnumerable<Computer_Reparatieshop.Models.Klant>

@{
    ViewBag.Title = "Index";
}

<h2>Klanten</h2>

<p>
    @Html.ActionLink("Maak nieuwe klant aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Firstname)*@
            Voornaam
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Middlename)*@
            Tussenvoegsel
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Lastname)*@
            Achternaam
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Phonenumber)*@
            Telefoonnummer
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Adress)*@
            Adress
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.City)*@
            Stad
        </th>
        <th>
            openstaande opdrachten
        </th>

        
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (!item.isdeleted == true)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Firstname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Middlename)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lastname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phonenumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(model => item.Reparatieopdrachtens.Count)
    </td>
    <td>
        @Html.ActionLink("Pas aan", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Verwijder", "Delete", new { id = item.Id })
    </td>
</tr>
        }
    }

</table>
