@{
    ViewBag.Title = "Reparatie Opdrachten";
}
<h2>@ViewBag.Title.</h2>



<p>in afwachting = @ViewBag.pending | in behandeling = @ViewBag.underway | wachten op onderdelen = @ViewBag.waitingforparts | klaar = @ViewBag.done</p>
<li>@Html.ActionLink("Nieuwe Reparatieopdracht", "ReNewOpdracht", "Reparatie", routeValues: null, htmlAttributes: new { id = "NewLink" })</li>
<table>
    <tr>
        <th>@ViewBag.Message2</th>
    </tr>
</table>
