@model Computer_Reparatieshop.Models.Reparateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reparateur</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InFix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InFix)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Loon per uur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wage)
        </dd>

        <dt>
            Opdrachten
        </dt>

        @foreach (var item in Model.Reparatieopdrachts)
        {
            <dd>
                @Html.ActionLink(item.Name, "Details", "ReparatieOpdrachten", new { id = item.Id }, null)
                @*@Html.DisplayFor(model => item.Name)*@
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Pas aan", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
