@model IEnumerable<Computer_Reparatieshop.Models.Reparateur>

@{
    ViewBag.Title = "Index";
}

<h2>Reperateurs</h2>

<p>
    @Html.ActionLink("Maak nieuwe reperateur aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            Voornaam
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InFix)*@
            Tussenvoegsel(s)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Achternaam
        </th>
        <th>
            Opdrachten
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InFix)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(model => item.Reparatieopdrachts.Count)
    </td>
    <td>
        @Html.ActionLink("Pas aan", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Verwijder", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
