@model Computer_Reparatieshop.Models.ComputerPart

@{
    ViewBag.Title = "Details";
}

<h2>Details voor</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Amount)*@
            Hoeveelhijd in magazijn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Prijs
        </dt>

        <dd>
            € @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Vendor)*@
            Producent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Pas aan", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
