@model IEnumerable<Computer_Reparatieshop.Models.ComputerPart>

@{
    ViewBag.Title = "Index";
}

<h2>Onderdelen in het magazijn</h2>

<p>
    @Html.ActionLink("Voeg nieuw onderdeel toe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Hoeveelheid
        </th>
        <th>
            Prijs
        </th>
        <th>
            Producent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            € @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.ActionLink("Pas aan", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
