@model Computer_Reparatieshop.ViewModels.CreateRepairViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reparatieopdrachten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Startdate)*@
            Startdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Startdate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Enddate)*@
            Einddatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Enddate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            price
        </dt>

        <dd>
            @*@(Model.Reparatieopdracht.Reparateur.Wage*((((Model.Reparatieopdracht.Enddate.Ticks - Model.Reparatieopdracht.Startdate.Ticks)/ 36000000000)/24)*8) )*@
            €@Html.DisplayFor(Model =>Model.Reparatieopdracht.price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Status)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Klant
        </dt>

        <dd>
            @Html.ActionLink(Model.Reparatieopdracht.Klant.Fullname, "Details", "Klanten", new { id = Model.Reparatieopdracht.Klant.Id }, null)
            @*@Html.DisplayFor(model => model.Reparatieopdracht.Klant.Fullname)*@
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Reparateur
        </dt>

        <dd>
            @Html.ActionLink(Model.Reparatieopdracht.Reparateur.FullName, "Details", "Reparateur", new { id = Model.Reparatieopdracht.Reparateur.Id }, null)
            @*@Html.DisplayFor(model => model.Reparatieopdracht.Reparateur.FullName)*@
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Details
        </dt>



        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Details)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Pas aan", "Edit", new { id = Model.Reparatieopdracht.Id }) |
    @Html.ActionLink("Terug naar reparatieopdrachten", "Index")
</p>
