@model Computer_Reparatieshop.ViewModels.CreateRepairViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details voor </h2>

<div>
    <h4>@Html.DisplayFor(model => model.Reparatieopdracht.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Name)
        </dd>

        <dt>
            Startdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Startdate)
        </dd>

        <dt>
            Einddatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Enddate)
        </dd>

        <dt>
            price
        </dt>

        <dd>
            €@Html.DisplayFor(Model =>Model.Reparatieopdracht.price)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Status)
        </dd>

        <dt>
            Klant
        </dt>

        <dd>
            @Html.ActionLink(Model.Reparatieopdracht.Klant.Fullname, "Details", "Klanten", new { id = Model.Reparatieopdracht.Klant.Id }, null)
        </dd>
        <dt>
            Reparateur
        </dt>

        <dd>
            @Html.ActionLink(Model.Reparatieopdracht.Reparateur.FullName, "Details", "Reparateur", new { id = Model.Reparatieopdracht.Reparateur.Id }, null)
        </dd>

        <dt>
            Details
        </dt>



        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Details)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Pas aan", "Edit", new { id = Model.Reparatieopdracht.Id }) |
    @Html.ActionLink("Terug naar reparatieopdrachten", "Index")
</p>
