@model Computer_Reparatieshop.ViewModels.CreateRepairViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reparatieopdrachten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Startdate)*@
            Startdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Startdate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Enddate)*@
            Einddatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Enddate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Status)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            detais
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparatieopdracht.Details)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Pas aan", "Edit", new { id = Model.Reparatieopdracht.Id }) |
    @Html.ActionLink("Terug naar reparatieopdrachten", "Index")
</p>
