@model IEnumerable<Computer_Reparatieshop.Models.Reparatieopdracht>

@{
    ViewBag.Title = "Index";
}

<h2>Reparatie Opdrachten</h2>
<br />
<div class="panel panel-primary">
   <div class="panel-heading">
        in afwachting = @ViewBag.pending | in behandeling = @ViewBag.underway | wachten op onderdelen = @ViewBag.waitingforpart | klaar = @ViewBag.done
   </div>
</div>

<p>
    @Html.ActionLink("Maak een nieuwe opdracht aan", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Naam Opdracht
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Startdate)*@
            Startdatum
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Enddate)*@
            Einddatum
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Status)*@
            klanten
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string backgroundClass = "background - color:#FFFFFF";

        if (item.Startdate.Ticks < (DateTime.Now.Ticks - 864000000000) && item.Status.ToString() == "Pending")
        {
            backgroundClass = "background-color:#FF0000";
        }
        else if (item.Startdate.Ticks < (DateTime.Now.Ticks) && item.Status.ToString() == "Pending")
        {
            backgroundClass = "background-color:#FFA500";
        }
        else
        {
            backgroundClass = "background-color:#FFFFFF";


            if (item.Enddate.Ticks < (DateTime.Now.Ticks - 864000000000) && (item.Status.ToString() == "InProgress" || item.Status.ToString() == "WaitingForParts"))
            {
                backgroundClass = "background-color:#FF0000";
            }
            else if (item.Enddate.Ticks < (DateTime.Now.Ticks) && (item.Status.ToString() == "InProgress" || item.Status.ToString() == "WaitingForParts"))
            {
                backgroundClass = "background-color:#FFA500";
            }
            else
            {
                backgroundClass = "background-color:#FFFFFF";
            }
        }


<tr style=@backgroundClass>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Startdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Enddate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Klanten.Firstname)
    </td>
    <td>
        @Html.ActionLink("Pas Aan", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Verwijder", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
